SelectSpecialScreen {
    align: center middle;
    .special_button {
        margin: 1 1;
        padding: 1;
        background: $panel;
        width: 100%;
    }
    .back_button {
        margin: 1;
        padding: 0;
    }
    #special_grid {
        grid-size: 3 3;
        max-width: 100;
    }
}
