Screen {
    align: center top;
    background: black;
}

Horizontal {
    width: auto;
    height: auto;
}

SelectionList {
    padding: 1;
    border: solid cyan;
    width: 1fr;
    background: black;
}

Pretty {
    width: 1fr;
    border: solid cyan;
}

Input {
    border: tall cyan;
    background: black;
}
